* {
    box-sizing: border-box;
    margin: 10px;
    text-align: center;
    font-size: 1.4vw;
}

html {
    margin: 0;
}

body {
    margin: 0;
    background-color: #000;
}

.header {
    background-color: #add8e6;
    margin: 0;
    display: flex;
    flex-flow: column wrap;
}

.menu {
    background: #1b5db3c7;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 0;
}

.logo,
.social {
    flex: 1 1 auto;
}

#logo-img {
    width: 9em;
    height: auto;
}

.nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    flex: 5 1 auto;
}


i {
    padding: 10px;
}

a:link {
    color: #c7882a !important;
}

a:visited {
    color: #c7882a !important;
}

a:hover {
    color: #baab28 !important;
}

a:active {
    color: #19a3ed !important;
}

.nav a.nav-enlace {
    text-decoration: none;
    color: #fff !important;
    font-size: 1vw;
    text-transform: uppercase;
}

.nav a.nav-enlace:hover {
    color: #58cbaf !important;
}

img#fondo-blog {
    width: 150px !important;
    height: 300px !important;
    border-radius: 20px !important;
}

h1 a,
h6 a {
    color: #b85e1e;
    font-family: 'Lobster';
}

section {
    background-color: rgb(38, 104, 145);
    display: flex;
    margin: 0;
}

aside {
    background-color: #fff;
    flex: 9%;
    margin: 15px 7px;
}

footer {
    background-color: black;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0px;
    height: 5rem;
}

.pie {
    color: #fff;
}

.comment {
    margin: 20px 0px 20px 20px;
}

.title {
    font-size: 0.7em;
}

.actions a.edit {
    color: #fff !important;
}

.likes {
    text-align: start;
    margin: 0px 10px;
}

div.likes>i {
    padding-right: 0;
}

article a.comentarios {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0);
}

article p {
    text-align: justify;
    padding: 10px;
}

div i.fa-regular.fa-heart {
    padding: 0px;
}

article.post p {
    text-align: justify;
}

.titulo {
    text-decoration: underline;
}

div.comment-actions i.fa-solid.fa-trash {
    padding: 0px;
    margin: 0px;

}

div.cuenta a{
    color:#000 !important;
}

div.cuenta a:hover {
    color:#000 !important;
}

input#id_username, input#id_password {
    padding: 0 !important;
    width: 70% !important;
    border-top-right-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
}

div.cuenta a.usuario_conectado{
    color:#fff !important;
}

div.cuenta a.cuenta_login, div.cuenta a.cuenta_logout{
    color:#000 !important;
    margin: 0;
    background-color: #e1e1e1;
    border-radius: 15px;
}

div.cuenta a.cuenta_login:hover, div.cuenta a.cuenta_logout:hover{
    background-color: #bbb;
}

img.icon {
    width: 30px;
    margin: 0;
}


i.like {
    color: #e70000e0 !important;
}

i.like:hover {
    color: #9c0e0e !important;
}

i.dislike {
    color: #233ec8 !important;
}

i.dislike:hover {
    color: #082678 !important;
}

i.fa-trash {
    color: #ffffff;
}