{% extends 'blog/base.html' %}

{% block content %}
    <h2>Write a new comment</h2>

    <form method="POST" class="post-form">
        {% csrf_token %}
        
        <input type="hidden" name="author" maxlength="200" required="" value="{{ user }}"  id="id_author">
        
        <textarea name="text" cols="30" rows="4" required="" id="id_text"></textarea>
        <br>
        <br>
        <button type="submit" class="save btn btn-primary"> {%load static %} <img src="{% static 'img/send.svg' %}" class="icon"> &nbsp; Send</button>
    </form>
{% endblock %}