{% extends 'blog/base.html' %}

{% block content %}
{% if user.is_authenticated %}
<div class="actions">
    <a class="btn btn-secondary edit" href="{% url 'post_edit' pk=post.pk %}">
        Edit
    </a>
</div>
{% endif %}
<article class="post card bg-info">
    <div style="text-align: center;">

        <h2 class="titulo">{{ post.title }}</h2>
        <div>
            <a href="{% url 'post_like' pk=post.pk %}"><i class="fa-regular fa-heart"></i></a> <a class="btn btn-secondary" href="{% url 'post_dislike' pk=post.pk %}">Dislike</a> {{ post.likes }}
            {% if post.published_date %}
            <time class="date">
            - {{ post.published_date }}
            </time>
            {% endif %}
        </div>
        <p>{{ post.text|linebreaksbr }}</p>

    </div>
</article>

<div data-gb-custom-block data-tag="for">
    <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
    {% for comment in post.comments.all %}
    {% if user.is_authenticated or comment.approved_comment %}
    <div class="card bg-light border border-2">
        <div class="date">
            {{ comment.created_date }}
            {% if not comment.approved_comment %}
            <div class="comment-actions">    
                <a class="btn btn-danger" href="{% url 'comment_remove' pk=comment.pk %}"><i style="padding: 0px; margin: 0px;" class="fa-solid fa-trash"></i></a>
                <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span>Aprobar</a>
            </div>
            {% endif %}
        </div>
        <strong>{{ comment.author }}</strong>
        <p>{{ comment.text|linebreaks }}</p>
    </div>
    {% endif %}
{% empty %}
    <p>No comments here yet :(</p>
{% endfor %}
</div>
{% endblock %}